

#map{
	width: 100%;
	height: 500px;
}

.cuadro {
	background: #fdfdfd;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #0000005e;
	box-shadow: 8px 7px 6px 1px #000102;
}
.img-logo{
	
	width: 100%;

}
